# Ignore everything #
**

# ...except #
!index.html
!assets/
!about/
!blog/
!resume/
!PULL_REQUEST_TEMPLATE/

# in Assets #
!assets/**

# in About Me #
!about/**

# in Blag #
!blog/**

# in Resume #
!resume/**


# ----- BASE GITIGNORE ------------------------------------------------- #

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that contain credentials or personal info
.extra
.ini
.conf
.cnf
.config
.boto
.mrjob.conf
.s3cfg
.aws/