# Ignore everything #
**

# ...except #
!index.html
!about/**
!assets/**
!blog/**
!docs/**
!resume/**


# ----- BASE GITIGNORE ------------------------------------------------- #

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that contain credentials or personal info
.extra
.ini
.conf
.cnf
.config
.boto
.mrjob.conf
.s3cfg
.aws/